*{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f9;
    padding: 5px;
    border-radius: 8px;
    max-width: 1200px;
    margin: auto;
}
.title{
    text-align: center;
    color: #1e90ff;
}
p {
    color: #6f7371;
}
