*{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    color: #1e90ff;
}

h3{
    color: #1e90ff;
}

h3 p{
    font-size: 14px;
}

div{
    background-color: #e6f7ff;
}